body{
    background-color: silver !important;
    
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card{
    width: 30rem;
}

.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success{
    color: white;
}

.bg-danger{
    color: white;
}